.login-container {
    margin-top: 6%;
  }
  
  .login-padre {
    justify-content: center;
  }
  
  .login-form-1 {
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5% 5% 0% 5%;
    width: 50%;
    margin-top: 8%;
  }
  .login-form-1 h3 {
    text-align: center;
    color: #333;
  }
  
  .login-container form {
    padding: 10%;
    padding-top: 3px;
  }
  
  .form-group {
    text-align: center;
    padding: 5px;
  }
  
  .btnSubmit {
    width: 50%;
    justify-content: center;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
  }
  .login-form-1 .btnSubmit {
    color: #fff;
    background-color: #0062cc;
  }
  .login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .login-form-1 {
      margin-top: 30%;
      border-radius: 10px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
      padding: 5% 5% 0% 5%;
      width: 100%;
    }
  }
  